body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /* color: #00b7ff; */
  color: white;
  text-decoration: none;
}
a:hover{
  color: grey;
  text-decoration: none;
}

h1 {
  color: 15px;
}

#myMap{
  height: 65vh;
  background-color: green;
  margin-top: 3rem;
}